<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/business-casual.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<!-- This is the Heading of the page -->
  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3"> چکن کی ترکیبیں</span>
    <span class="site-heading-lower">Chicken Recipes</span>
  </h1>
<!-- End of the Heading -->

  <!-- This is the Navigation  -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{ url_for('index') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{ url_for('task') }}">Add your Recipe</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{ url_for('recipes') }}">Recipes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- End of Navigation -->

  <section class="page-section clearfix">
    <div class="container">
     {% block content %}
     {% endblock %}
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

   
 
 <script>
  
   $(document).ready(function() {
    $('select').material_select();
     $('.modal').modal();
  });
    
     $('.timepicker').pickatime({
    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: false, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button,
    container: undefined, // ex. 'body' will append picker to body
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker
  });
  document.getElementById("matfix").addEventListener("click", function(e) {
	e.stopPropagation();
});    

var isOnRecipe = document.getElementsByClassName(".ingredients");
var methodOnRecipe = document.getElementsByClassName(".methods");


if (isOnRecipe.length > 0) {

}
else {
    let ingredientCounter = $(".ingredients").length

    /* Add new ingredient line */
    $(".i-add").click(function() {
        /* append form, insert before add/remove btns and clear existing values */
        $(".ingredients:last").append("<input type='text' name='ingredients' class='ingredients' placeholder='One ingredient per box!'/>")
            .insertBefore(".i-add")
            .find("input[type='text']").val("");
        ingredientCounter += 1;
    });
    /* Remove last ingredients line */
    $(".i-remove").click(function() {
        if (ingredientCounter > 1) {
            $(".ingredients:last").remove();
            ingredientCounter -= 1;
        }
    });
}

if (methodOnRecipe.length > 0) {

}
else {
    let methodCount = $(".methods").length

    /* Add new line */
    $(".m-add").click(function() {
        /* append form, insert before add/remove btns and clear existing values */
        $(".methods:last").append("<input type='text' name='methods' class='methods' required placeholder='Boil water and drop in spaghetti, add balsamic vinegar to bring out a nice tangy flavour...'/>")
            .insertBefore(".m-add")
            .find("input[type='text']").val("");
        methodCount += 1;
    });

    /* Remove last line */
    $(".m-remove").click(function() {
        if (methodCount > 1) {
            $(".methods:last").remove();
            methodCount -= 1;
        }
    });
}

  </script>
   
<!-- <script defer src="{{ url_for('static', filename='app.js') }}"></script> -->

</body>
</html>