{% extends "base.html" %} {% block content %}
<center>
  <h4 class="site-heading-upper text-primary mb-3">کریمی چکن مشروم کی چٹنی</h4>
  <h2>Chicken in creamy mushroom sauce</h2>
</center>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img
        src="https://realfood.tesco.com/media/images/CHICKENMUSHROOM-1400x919-94745061-f1e3-4b1e-886d-fe50d5ecc1ef-0-1400x919.jpg"
        alt=""
      />
    </div>
    <div class="col-md-7">
      <h5>Chicken in creamy mushroom sauce recipe</h5>
      <div class="row">
        <img
          src="https://img.icons8.com/color/30/000000/circled-user-female-skin-type-4.png"
        />
        <b>Serves 4</b>
      </div>
      <div class="row">
        <img src="https://img.icons8.com/plasticine/30/000000/time.png" />
        <b>15 mins to prepare, 30mins to cook</b>
      </div>
      <div class="row">
        <img
          src="https://img.icons8.com/office/30/000000/caloric-energy.png"
        /><b>319 calories / serving</b>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="#!" class="btn waves-effect waves-orange">Energy 319kcal</a>
      <a href="#!" class="btn waves-effect waves-orange">Fat 17𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Saturates 8𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Sugars 3𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Salt 0.7𝗴</a>
      <h6 class="header"><b>Recipe Description</b></h6>
      <p>
        For a winning family dinner that everyone will love, look no further
        than this cheesy garlic and herb-stuffed chicken recipe made with sage
        and onion stuffing mix. Wrap in smoky bacon and bake, before serving
        with green beans and crispy potatoes. Trust us – this family dinner
        won't disappoint.
      </p>
      <h6><b>Ingredients</b></h6>
      <ul>
        <li>15g (1/2oz) dried wild mushrooms</li>
        <li>1 tbsp olive oil</li>
        <li>15g butter</li>
        <li>4 chicken breasts, skin on</li>
        <li>1 large onion, finely sliced</li>
        <li>2 garlic cloves, chopped</li>
        <li>250g chestnut mushrooms, sliced</li>
        <li>200ml (1/3pt) hot chicken stock</li>
        <li>1/2x30g pack fresh tarragon leaves, picked and chopped</li>
        <li>200g (7oz) half fat creme fraiche</li>
        <li>200g (7oz) fine green beans, trimmed, to serve</li>
        <li>250g (8oz) steamed basmati and wild rice, to serve</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6><b>Method</b></h6>
      <ol>
        <li>
          In a small bowl, soak the dried mushrooms in boiling water for 15
          minutes. Strain and save the liquid. Chop the mushrooms and set aside.
        </li>
        <li>
          Meanwhile, heat the olive oil and butter in a large frying pan over a
          medium-high heat. Season the chicken on both sides and then fry for 5
          minutes, skin side down. Turn the breasts over and fry for another 3-4
          minutes. Remove from the pan and set aside.
        </li>
        <li>
          Add the onion and fry for 3-4 minutes. Then mix in the chestnut
          mushrooms and fry for a further 3 minutes. Add the garlic and reserved
          chopped mushrooms and fry for 1 minute.
        </li>
        <li>
          Pour in 100ml of the mushroom soaking liquid and the hot stock and two
          thirds of the chopped tarragon. Return the browned chicken pieces to
          the pan. Bring to the boil then turn down the heat and simmer for 10
          minutes or until the chicken is cooked. Cut into the thickest part of
          the breast to check that the chicken is cooked through with no pink
          showing.
        </li>
        <li>
          Stir in the crème fraîche and warm through but don’t boil. Scatter
          over the rest of the tarragon, and serve with green beans and steamed
          basmati and wild rice.
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a
        href="https://realfood.tesco.com/recipes/chicken-in-creamy-mushroom-sauce.html"
        class="btn waves-effect waves-orange"
        >Buy Ingredients</a
      >
    </div>
  </div>
</div>

{% endblock %}
