{% extends "base.html" %} {% block content %}
<center>
  <h4 class="site-heading-upper text-primary mb-3">لہسن کی چکن بوٹی</h4>
  <h2>Garlic and herb stuffed chicken breasts</h2>
</center>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img
        src="https://realfood.tesco.com/media/images/Stuffed-chicken-breasts-recipe-1400x919-a1bc3a3f-58f8-4846-a29a-95b47dc96bc9-0-1400x919.jpg"
        alt=""
      />
    </div>
    <div class="col-md-7">
      <h5>Garlic and herb stuffed chicken breasts recipe</h5>
      <div class="row">
        <img
          src="https://img.icons8.com/color/30/000000/circled-user-female-skin-type-4.png"
        />
        <b>Serves 4</b>
      </div>
      <div class="row">
        <img src="https://img.icons8.com/plasticine/30/000000/time.png" />
        <b>15 mins to prepare, 35mins to cook</b>
      </div>
      <div class="row">
        <img
          src="https://img.icons8.com/office/30/000000/caloric-energy.png"
        /><b>550 calories / serving</b>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="#!" class="btn waves-effect waves-orange">Energy 550kcal</a>
      <a href="#!" class="btn waves-effect waves-orange">Fat 17𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Saturates 6𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Sugars 3𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Salt 2.6𝗴</a>
      <h6 class="header"><b>Recipe Description</b></h6>
      <p>
        For a winning family dinner that everyone will love, look no further
        than this cheesy garlic and herb-stuffed chicken recipe made with sage
        and onion stuffing mix. Wrap in smoky bacon and bake, before serving
        with green beans and crispy potatoes. Trust us – this family dinner
        won't disappoint.
      </p>
      <h6><b>Ingredients</b></h6>
      <ul>
        <li>85g pack sage and onion stuffing mix</li>
        <li>100g 50% less fat garlic and herb soft cheese oil, for greasing</li>
        <li>4 skinless chicken breasts</li>
        <li>4 rashers smoked thick-cut back bacon</li>
        <li>4 fresh sage leaves</li>
        <li>400g frozen crispy potatoes</li>
        <li>200g pack fine beans, trimmed gravy, to serve (optional)</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6><b>Method</b></h6>
      <ol>
        <li>
          Preheat the oven to gas 7, 220°C, fan 200°C. Put the stuffing mix in a
          bowl and pour over 200ml boiling water. Mix well, then set aside for 5
          mins. Transfer 100g to a bowl and mix with the soft cheese. Press the
          rest of the stuffing into a small, greased, ovenproof dish. Make a
          pocket in the thickest part of each chicken breast (being careful not
          to cut through) and spoon a quarter of the cheesy stuffing into each.
        </li>
        <li>
          Put the bacon under a sheet of clingfilm and roll out to around twice
          the size; remove and discard the rind. Top each chicken breast with a
          sage leaf and wrap with a bacon rasher, tucking the ends underneath.
          Transfer to a greased baking tray.
        </li>
        <li>
          Bake the potatoes on a baking tray for 10 mins, then add the chicken
          and the stuffing dish. Cook for 5 mins, then reduce the temperature to
          gas 6, 200°C, fan 180°C. Bake for 20 mins or until the chicken is
          cooked through.
        </li>
        <li>
          Meanwhile, boil the beans in salted water for 4 mins; drain. Serve
          with the chicken, stuffing, potatoes and gravy, if you like.
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a
        href="https://realfood.tesco.com/recipes/garlic-and-herb-stuffed-chicken-breasts.html"
        class="btn waves-effect waves-orange"
        >Buy Ingredients</a
      >
    </div>
  </div>
</div>

{% endblock %}
