{% extends 'base.html' %}

{% block content %}
 <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/background.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Fresh Coffee</span>
            <span class="section-heading-lower">Worth Drinking</span>
          </h2>
          <p class="mb-3">Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
          </div>
        </div>
      </div>

<div class="container">
  <div class="card-group vgr-cards">
    <div class="card">
      <div class="card-img-body">
      <img class="card-img" src="https://realfood.tesco.com/media/images/KORMA-1400x919-7b02c527-02dd-4f57-aac0-fdbb1ea2e993-0-1400x919.jpg" alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title">Chicken Korma</h4>
        <p class="card-text">A really rich and creamy chicken korma recipe with tender chicken breast pieces in a mildly spiced curry sauce. You could use chicken thigh fillets as an alternative if you prefer.</p>
        <a href="{{ url_for('chickenkorma')}}">Primary</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="https://realfood.tesco.com/media/images/Stuffed-chicken-breasts-recipe-1400x919-a1bc3a3f-58f8-4846-a29a-95b47dc96bc9-0-1400x919.jpg" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">Garlic and herb stuffed chicken breasts recipe</h4>
        <p class="card-text">For a winning family dinner that everyone will love, look no further than this cheesy garlic and herb-stuffed chicken recipe made with sage and onion stuffing mix. Wrap in smoky bacon and bake, before serving with green beans and crispy potatoes. Trust us – this family dinner won't disappoint.</p>
        <a href="#" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="https://realfood.tesco.com/media/images/CHICKENMUSHROOM-1400x919-94745061-f1e3-4b1e-886d-fe50d5ecc1ef-0-1400x919.jpg" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">Chicken in creamy mushroom sauce recipe</h4>
        <p class="card-text">This easy chicken recipe with creamy mushroom sauce is a delicious evening meal that can be prepared and cooked in under 45 minutes. Sear both chicken sides in butter and garlic, then pour over the rich and creamy mushroom sauce and serve with basmati and wild rice for a rustic, warming dinner.</p>
        <a href="#" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
  </div>
</div>
<button onclick="myFunction()" id="myBtn">Read more
</button>
<div class="container">
  <div class="card-group vgr-cards">
    <div class="card load">
      <div class="card-img-body">
      <img class="card-img" src="https://picsum.photos/500/230" alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
        <a href="#" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
    <div class="card load">
      <div class="card-img-body">
        <img class="card-img" src="https://picsum.photos/400/200" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This card has supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
    <div class="card load">
      <div class="card-img-body">
        <img class="card-img" src="https://picsum.photos/450/250" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action. This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
  </div>
</div>




{% endblock %}