{% extends 'base.html' %}

{% block content %}
 <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/background.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Chicken Recipes</span>
            <span class="section-heading-lower">Worth Eating!</span>
          </h2>
          <p class="mb-3">Just like the food we eat, our list ends in the digestive system. The proteins, vitamins, minerals and the low content of saturated fat all contribute to a healthy stomach. And this, as you surely know, provides well-being. However, keep in mind that meat does not contain dietary fiber, which is also important for digestion. But then it’s fortunate that chicken can be served in many different dishes, in good company with many other healthy and fiber-based ingredients!
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="{{ url_for('recipes')}}">View our recipes!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
          </div>
        </div>
      </div>

       <div class="row">
       {% for recipe in recipes %}
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="{{ recipes.image_source }}">
              <span class="card-title">{{ recipes.recipe_name}}</span>
            </div>
            <div class="card-content">
              <p>{{ recipes.recipe_description}}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
            

<div class="container">
  <div class="card-group vgr-cards">
    <div class="card">
      <div class="card-img-body">
      <img class="card-img" src="{{ recipes.image_source }}" alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ recipes.recipe_name}}</h4>
        <p class="card-text">{{ recipes.recipe_description}}</p>
        <a href="{{ url_for('chickenkorma')}}" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="https://realfood.tesco.com/media/images/Stuffed-chicken-breasts-recipe-1400x919-a1bc3a3f-58f8-4846-a29a-95b47dc96bc9-0-1400x919.jpg" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">Garlic and herb stuffed chicken breasts recipe</h4>
        <p class="card-text">For a winning family dinner that everyone will love, look no further than this cheesy garlic and herb-stuffed chicken recipe made with sage and onion stuffing mix. Wrap in smoky bacon and bake, before serving with green beans and crispy potatoes. Trust us – this family dinner won't disappoint.</p>
        <a href="{{ url_for('garlicchicken')}}" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="https://realfood.tesco.com/media/images/CHICKENMUSHROOM-1400x919-94745061-f1e3-4b1e-886d-fe50d5ecc1ef-0-1400x919.jpg" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">Chicken in creamy mushroom sauce recipe</h4>
        <p class="card-text">This easy chicken recipe with creamy mushroom sauce is a delicious evening meal that can be prepared and cooked in under 45 minutes. Sear both chicken sides in butter and garlic, then pour over the rich and creamy mushroom sauce and serve with basmati and wild rice for a rustic, warming dinner.</p>
        <a href="{{ url_for('creamychicken')}}" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
  </div>
</div>




{% endblock %}