{% extends "base.html" %} {% block content %}
<center>
  <h4 class="site-heading-upper text-primary mb-3">کریمی سرخ مرچ مرغی پاستا</h4>
  <h2>Creamy red pepper and chicken pasta</h2>
</center>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img
        src="https://realfood.tesco.com/media/images/1400x919-PepperChickenPasta-3146491a-ff5f-4dbd-b044-03d54031337a-0-1400x919.jpg"
        alt=""
      />
    </div>
    <div class="col-md-7">
      <h5>Creamy red pepper and chicken pasta recipe</h5>
      <div class="row">
        <img
          src="https://img.icons8.com/color/30/000000/circled-user-female-skin-type-4.png"
        />
        <b>Serves 4</b>
      </div>
      <div class="row">
        <img src="https://img.icons8.com/plasticine/30/000000/time.png" />
        <b>10 mins to prepare, 30mins to cook</b>
      </div>
      <div class="row">
        <img
          src="https://img.icons8.com/office/30/000000/caloric-energy.png"
        /><b>722 calories / serving</b>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="#!" class="btn waves-effect waves-orange">Energy 722kcal</a>
      <a href="#!" class="btn waves-effect waves-orange">Fat 29𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Saturates 10𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Sugars 14𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Salt 1.9𝗴</a>
      <h6 class="header"><b>Recipe Description</b></h6>
      <p>
        You can’t go wrong with a quick pasta dinner. Roast chicken thighs and
        red peppers with smoky paprika, then toss with penne and a creamy tomato
        mascarpone sauce – top with Cheddar for easy comfort food.
      </p>
      <h6><b>Ingredients</b></h6>
      <ul>
        <li>600g pack chicken thigh fillets</li>
        <li>2 red peppers, deseeded and thinly sliced</li>
        <li>1 tbsp olive oil</li>
        <li>2 tsp paprika</li>
        <li>320g Hearty Food Co. penne</li>
        <li>500g jar tomato & mascarpone pasta sauce</li>
        <li>50g medium Cheddar, grated</li>
        <li>30g fresh basil, leaves picked</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6><b>Method</b></h6>
      <ol>
        <li>
          Preheat the oven to gas 6, 200°C, fan 180°C. Line a large baking tray
          with baking paper and add the chicken thighs and peppers. Drizzle with
          the olive oil, sprinkle over the paprika and season. Roast for 30-35
          mins, until the chicken is completely cooked through and the peppers
          are softened.
        </li>
        <li>
          Meanwhile, bring a large pan of salted water to the boil and add the
          penne. Cook for 8 mins, then drain and return to the empty pan.
        </li>
        <li>
          Remove the chicken from the oven and shred using 2 forks. Add to the
          pasta along with the peppers, tomato & mascarpone sauce, most of the
          cheese and most of the basil. Heat the mixture for 1-2 mins over a
          medium heat until warmed through.
        </li>
        <li>
          Divide the pasta between 4 bowls. Sprinkle the remaining cheese and
          basil over before serving.
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a
        href="https://realfood.tesco.com/recipes/creamy-red-pepper-and-chicken-pasta.html#method"
        class="btn waves-effect waves-orange"
        >Buy Ingredients</a
      >
    </div>
  </div>
</div>

{% endblock %}
