{% extends "base.html" %} {% block content %}
<h4 class="site-heading-upper text-primary mb-3">نسخہ</h4>
<h2>{{ page_name }}</h2>
    <div class="box-buttons">
        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn btn-1">Edit</a>
        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"class="waves-effect waves-light btn">Delete</a>
    </div>
       <div class="row">
       {% for recipes in recipes %}
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="{{ recipes.image_source }}">
              <span class="card-title">{{ recipes.recipe_name}}</span>
            </div>
            <div class="card-content">
              <p>{{ recipes.recipe_description}}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}
