{% extends "base.html" %} {% block content %}

<!--- This is how the recipes will be presented on the recipe page -->

<h4 class="site-heading-upper text-primary mb-3">نسخہ</h4>
<h2>Recipes</h2>

<!--- Below is a card which will include the recipe image, name and description. At the bottom of the card will be a link which will take you to the recipe page with more information-->   

       <div class="row">
       {% for recipes in recipes %}
        <div class="col-md-5">
          <div class="card">
            <div class="card-image">
              <img src="{{ recipes.image_source }}">
              <span class="card-title">{{ recipes.recipe_name}}</span>
            </div>
            <div class="card-content">
              <p>{{ recipes.recipe_description}}</p>
            </div>
            <div class="card-action">
              <a href="{{ url_for('view_recipe', recipe_id=recipes._id) }}">This is a link</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
<!--- End card -->
{% endblock %}
