{% extends "base.html" %} {% block content %}
<h4 class="site-heading-upper text-primary mb-3">اپنی ترکیب شامل کریں</h4>

<!--- This page will allow the users to add their recipes to the website -->

<h2>Add Your Recipes</h2>

<form action="{{ url_for('insert_recipe') }}" method="POST">

<!--- This will allow user to add their images via a link -->

  <div class="input-field col-md-12">
    <i class="material-icons prefix">add_a_photo</i>
    <input placeholder="Add your photo link" name="image_source" id="image_source" type="text" class="validate" />
    <label for="first_name">Image</label>
  </div>

<!--- End Images -->

<!--- This will allow users to write their recipe name -->

  <div class="input-field col-md-12">
    <i class="material-icons prefix">create</i>
    <input placeholder="" name="recipe_name" id="recipe_name" type="text" class="validate" />
    <label for="first_name">Recipe Name</label>
  </div>
<!---- End recipe name -->

<!--- This will allow users to write down how many people it will serve -->

    <div class="row">
   
      <div class="input-field col-md-4">
        <i class="material-icons prefix">local_dining</i>
        <input
          placeholder=""
          name="serves"
          id="serves"
          type="text"
          class="validate"
        />
        <label for="first_name">Serves</label>
      </div>

<!--- End serves -->

<!--- This will allow users to write down how long it'll take them to cook the recipe -->

        <div class="input-field col-md-4">
        <i class="material-icons prefix">alarm</i>
        <input
          placeholder="How long does it takes to cook"
          name="due_time"
          id="due_time"
          type="text"
          class="validate"
        />
        <label for="first_name">Time</label>
      </div>

<!--- End time -->

<!--- This will allow users to write down how many calories are in the recipe -->

      <div class="input-field col-md-4">
        <i class="material-icons prefix">add</i>
        <input
          placeholder="How many Calories"
          name="calories"
          id="calories"
          type="text"
          class="validate"
        />
        <label for="first_name">Calories</label>
      </div>
    </div>
  
<!--- End calories -->


<!--- This allows users to write down how much fat, saturates, sugar and salt are in the recipe -->

    <div class="row">
      <div class="input-field col-md-3">
        <i class="material-icons prefix">opacity</i>
        <input
          placeholder="For Example - 30g"
          name="fat"
          id="fat"
          type="text"
          class="validate"
        />
        <label for="first_name">Fat</label>
      </div>
      <div class="input-field col-md-3">
        <i class="material-icons prefix">invert_colors</i>
        <input
          placeholder="For Example - 2g"
          name="saturates"
          id="saturates"
          type="text"
          class="validate"
        />
        <label for="first_name">Saturates</label>
      </div>
      <div class="input-field col-md-3">
        <i class="material-icons prefix">border_clear</i>
        <input
          placeholder="For Example - 1g"
          name="sugars"
          id="sugars"
          type="text"
          class="validate"
        />
        <label for="first_name">Sugar</label>
      </div>
      <div class="input-field col-md-3">
        <i class="material-icons prefix">grain</i>
        <input
          placeholder="For Example 0.8g"
          name="salt"
          id="salt"
          type="text"
          class="validate"
        />
        <label for="first_name">Salt</label>
      </div>
    </div>

<!--- End fat, saturates, sugar and salt -->

<!--- This allows the users to write a brief description of their recipe -->

  <div class="row">
    <div class="input-field col-md-12">
      <i class="material-icons prefix">comment</i>
      <input value="" name="recipe_description" id="recipe_description" type="text" class="validate" />
      <label class="active" for="first_name2">Recipe Description</label>
    </div>
  </div>

<!--- End description -->

<!--- This allows the users to write down the ingredients for their recipe -->
    
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="ingredients">Ingredients</label>
                <textarea required class="form-control" id="ingredients" name="ingredients" rows="3"
                    placeholder="Each ingredient in it's own line."></textarea>
                <small class="form-text text-muted">Each ingredient in it's own line. No empty lines.</small>
            </div>
        </div>
    </div>
<!--- End ingredients -->


<!--- This allows the users to write the recipe method -->

      <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="recipe_method">Method</label>
                <textarea required class="form-control" id="recipe_method" name="recipe_method" rows="3"
                    placeholder="Each ingredient in it's own line."></textarea>
                <small class="form-text text-muted text-danger">Each method in it's own line. No empty lines.</small>
            </div>
        </div>
    </div>

<!--- End recipe method -->

 <!--- This allows the user to submit their finish recipe -->

  <button class="btn waves-effect waves-light" type="submit" name="action">
    Submit
    </button>
<!--- End submit -->
  </div>
</form>

<!--- End recipe -->
{% endblock %}
