{% extends "base.html" %} {% block content %}
<center>
  <h2>{{ recipe.recipe_name }}</h2>
</center>

<!--- When the link is pressed at the bottom of the card on the recipe page, they will be directed to this page where the users can view the full recipe -->

<!--- Here you can see the bootstrap method of positioning my recipe (via container, row and col-md-**), at the beginning of the page you will be able to see the image, serves, time and calories -->
<div class="container">
  <div class="row">
    <div class="col-md-5">
     <img src="{{ recipe.image_source }}">
    </div>
    <div class="col-md-7">
      <h5></h5>
      <div class="row">
        <img
          src="https://img.icons8.com/color/30/000000/circled-user-female-skin-type-4.png"
        />
        <b>Serves {{ recipe.serves}}</b>
      </div>
      <div class="row">
        <img src="https://img.icons8.com/plasticine/30/000000/time.png" />
        <b>{{ recipe.time}}</b>
      </div>
      <div class="row">
        <img
          src="https://img.icons8.com/office/30/000000/caloric-energy.png"
        /><b>{{ recipe.calories}}</b>
      </div>
    </div>
  </div>
</div>

<!--- End image, serves, time and calories -->

<!--- Beginning of the fat, saturates, sugars, salt, recipe description and ingredients, they are structured via the bootstrap format .-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a class="btn waves-effect waves-orange"> Fat {{ recipe.fat}}</a>
      <a href="#!" class="btn waves-effect waves-orange"> Saturates {{ recipe.saturates}}</a>
      <a href="#!" class="btn waves-effect waves-orange"> Sugars {{ recipe.sugars}}</a>
      <a href="#!" class="btn waves-effect waves-orange"> Salt {{ recipe.salt}}</a>
      <h6 class="header"><b>Recipe Description</b></h6>
      <p>
        {{ recipe.recipe_description}}
      </p>
      <h6><b>Ingredients</b></h6>
      {% for instruction in recipe.ingredients %}
      {{ instruction }}<br> 
      {% endfor %}
    </div>
  </div>
</div>

<!--- End of the above -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6><b>Method</b></h6>
     {% for instruction in recipe.recipe_method  %}
     <p>{{ instruction }}</p>
   {% endfor %}
    </div>
  </div>
</div>
<div class="row">
<h5>Views {{recipe.views}}</h5>
</div>

<div class="row">
<div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large red pulse">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a href="{{url_for('edittask', recipes_id=recipe._id)}}" class="btn-floating green"><i class="material-icons">mode_edit</i></a></li>
      <li><a href="{{url_for('delete_recipe', recipes_id=recipe._id)}}" class="btn-floating blue"><i class="material-icons">delete</i></a></li>
    </ul>
  </div>
  </div>



{% endblock %}

