{% extends "base.html" %} {% block content %}
<center>
  <h2>{{recipe.recipe_name }}</h2>
</center>

<div class="container">
  <div class="row">
    <div class="col-md-5">
     {{ recipe.image_source }}
    </div>
    <div class="col-md-7">
      <h5>{{recipe.recipe_name }}</h5>
      <div class="row">
        <img
          src="https://img.icons8.com/color/30/000000/circled-user-female-skin-type-4.png"
        />
        <b>Serves 4</b>
      </div>
      <div class="row">
        <img src="https://img.icons8.com/plasticine/30/000000/time.png" />
        <b>5 mins to prepare, 20mins to cook</b>
      </div>
      <div class="row">
        <img
          src="https://img.icons8.com/office/30/000000/caloric-energy.png"
        /><b>398 calories / serving</b>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="#!" class="btn waves-effect waves-orange">Energy 398kcal</a>
      <a href="#!" class="btn waves-effect waves-orange">Fat 6𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Saturates 2𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Sugars 1𝗴</a>
      <a href="#!" class="btn waves-effect waves-orange">Salt 0.8𝗴</a>
      <h6 class="header"><b>Recipe Description</b></h6>
      <p>
        Pack up this colourful salad and take to work for a healthy
        packed-lunch. Marinated chicken with a touch of chilli and nutty quinoa
        combine for an easy meal that will keep you going all afternoon.
      </p>
      <h6><b>Ingredients</b></h6>
      <ul>
        <li>2 limes, zested and juiced</li>
        <li>1 large red chilli, halved and thinly sliced</li>
        <li>650g pack chicken breast portions</li>
        <li>2 x 250g pouches microwave wholegrain rice and quinoa</li>
        <li>50g frozen soya beans</li>
        <li>100g radishes, quartered</li>
        <li>70g wild rocket leaves</li>
        <li>30g pack fresh mint, leaves chopped</li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6><b>Method</b></h6>
      <ol>
        <li>
          Mix the lime zest and juice and the chilli in a shallow dish. Season,
          add the chicken and toss to coat. Set aside for 10 mins to marinate.
          Meanwhile, preheat the grill to its highest setting and line a baking
          tray with foil.
        </li>
        <li>
          Transfer the chicken to the lined tray, pour over the marinade and
          grill for 8-10 mins each side or until cooked through with no pink
          meat remaining.
        </li>
        <li>
          Meanwhile, blanch the soya beans in boiling water for 6-7 mins until
          tender. Heat the rice and quinoa pouches to pack instructions, then
          mix with the soya beans, cumin, radishes, rocket leaves and most of
          the mint. Season to taste. Divide the salad between 4 plates. Slice
          the chicken breasts, place on top of the salad and scatter over the
          remaining mint.
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a
        href="https://realfood.tesco.com/recipes/chilli-lime-chicken-salad.html"
        class="btn waves-effect waves-orange"
        >Buy Ingredients</a
      >
    </div>
  </div>
</div>

{% endblock %}

<div class="container">
  <div class="card-group vgr-cards">
    <div class="card">
      <div class="card-img-body">
      <img class="card-img" src="{{ recipes.image_source }}" alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ recipes.recipe_name}}</h4>
        <p class="card-text">{{ recipes.recipe_description}}</p>
        <a href="{{ url_for('chickenkorma')}}" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="https://realfood.tesco.com/media/images/Stuffed-chicken-breasts-recipe-1400x919-a1bc3a3f-58f8-4846-a29a-95b47dc96bc9-0-1400x919.jpg" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">Garlic and herb stuffed chicken breasts recipe</h4>
        <p class="card-text">For a winning family dinner that everyone will love, look no further than this cheesy garlic and herb-stuffed chicken recipe made with sage and onion stuffing mix. Wrap in smoky bacon and bake, before serving with green beans and crispy potatoes. Trust us – this family dinner won't disappoint.</p>
        <a href="{{ url_for('garlicchicken')}}" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
    <div class="card">
      <div class="card-img-body">
        <img class="card-img" src="https://realfood.tesco.com/media/images/CHICKENMUSHROOM-1400x919-94745061-f1e3-4b1e-886d-fe50d5ecc1ef-0-1400x919.jpg" alt="Card image cap"></div>
      <div class="card-body">
        <h4 class="card-title">Chicken in creamy mushroom sauce recipe</h4>
        <p class="card-text">This easy chicken recipe with creamy mushroom sauce is a delicious evening meal that can be prepared and cooked in under 45 minutes. Sear both chicken sides in butter and garlic, then pour over the rich and creamy mushroom sauce and serve with basmati and wild rice for a rustic, warming dinner.</p>
        <a href="{{ url_for('creamychicken')}}" class="btn btn-outline-primary">Primary</a>
      </div>
    </div>
  </div>
</div>