{% extends "base.html" %} {% block content %}
<center>
  <h2></h2>
</center>

<div class="container">
  <div class="row">
    <div class="col-md-5">
     {{ recipe.image_source }}
    </div>
    <div class="col-md-7">
      <h5></h5>
      <div class="row">
        <img
          src="https://img.icons8.com/color/30/000000/circled-user-female-skin-type-4.png"
        />
        <b>Serves {{ recipe.serves}}</b>
      </div>
      <div class="row">
        <img src="https://img.icons8.com/plasticine/30/000000/time.png" />
        <b>{{ recipe.time}}</b>
      </div>
      <div class="row">
        <img
          src="https://img.icons8.com/office/30/000000/caloric-energy.png"
        /><b>{{ recipe.calories}}</b>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="#!" class="btn waves-effect waves-orange"> Fat {{ recipe.fat}}</a>
      <a href="#!" class="btn waves-effect waves-orange"> Saturates {{ recipe.saturates}}</a>
      <a href="#!" class="btn waves-effect waves-orange"> Sugars {{ recipe.sugars}}</a>
      <a href="#!" class="btn waves-effect waves-orange"> Salt {{ recipe.salt}}</a>
      <h6 class="header"><b>Recipe Description</b></h6>
      <p>
        {{ recipe.recipe_description}}
      </p>
      <h6><b>Ingredients</b></h6>
      {% for instruction in recipe.ingredients %}
      {{ instruction }}<br> 
      {% endfor %}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6><b>Method</b></h6>
     {% for instruction in recipe.recipe_method  %}
     <p>{{ instruction }}</p>
   {% endfor %}
    </div>
  </div>
</div>

<div class="row">
<div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large red pulse">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a href="{{url_for('edittask', recipes_id=recipe._id)}}" class="btn-floating green"><i class="material-icons">mode_edit</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">delete</i></a></li>
    </ul>
  </div>
  </div>

{% endblock %}

